nav ul li{
    display: inline-block;
    padding: 5px 10px;
    color: #3a3a3a;
}
nav ul li:nth-child( n+2 ){
    border-left: 1px solid #ccc ;
}
nav ul{
    display: inline-block;
    padding: 0;
    border: 1px solid #ccc ;

}
.active{
    color: red;
}
nav ul li a{
    color: currentColor;
    text-decoration: none;
}